body {
  font-family: sans-serif;
}
.messages{
  color: rgb(255, 0, 200);
}


th,
td {
  font-size: 12px;
  line-height: 2em;
  vertical-align: top;
  margin-bottom: 1em;
  width: 300px;
  height: 60px;
  text-align: center;
  border: 2px solid black;
}